In [1]:
#importing required libraries for use.

import numpy as np
import pandas as pd  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split 
from sklearn import metrics
%matplotlib inline
import json
import csv

C:\Users\hp\anaconda3\lib\site-packages\pandas\compat\__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
# making a csv data set And printing a sample of dataset.

dataset = pd.read_csv(r'stock_data.csv')
#dataset = pd.read_csv(r'all-data.csv',encoding='ISO-8859-1')
dataset.head()

                                                Text  Sentiment
0  Kickers on my watchlist XIDE TIT SOQ PNK CPW B...          1
1  user: AAP MOVIE. 55% return for the FEA/GEED i...          1
2  user I'd be afraid to short AMZN - they are lo...          1
3                                  MNTA Over 12.00            1
4                                   OI  Over 21.37            1

In [3]:
dataset.shape

(5791, 2)

In [6]:
# Removing special characters
dataset1=dataset
dataset1['Text'].str.replace('[^\w\s]','')

<ipython-input-6-f4e648dd5978>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  dataset1['Text'].str.replace('[^\w\s]','')

0       Kickers on my watchlist XIDE TIT SOQ PNK CPW B...
1       user AAP MOVIE 55 return for the FEAGEED indic...
2       user Id be afraid to short AMZN  they are look...
3                                        MNTA Over 1200
4                                         OI  Over 2137
                              ...
5786    Industry body CII said discoms are likely to s...
5787    Gold prices slip below Rs 46000 as investors b...
5788    Workers at Bajaj Auto have agreed to a 10 wage...
5789    Sharemarket LIVE Sensex off days high up 600 p...
5790    Sensex Nifty climb off days highs still up 2 K...
Name: Text, Length: 5791, dtype: object

In [7]:
# dataset1.apply(lambda x: x.astype(str).str.lower())
# Converting to lowercase of "headline" elsements.
dataset1["Text"] = dataset1["Text"].str.lower()

In [8]:
from sklearn.model_selection import train_test_split
import joblib
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
# Split into training and testing data
x = dataset1['Text']
y = dataset1['Sentiment']
x, x_test, y, y_test = train_test_split(x,y, stratify=y, test_size=0.35, random_state=42)

In [44]:
# Vectorize text reviews to numbers
vec = CountVectorizer(stop_words='english')
x = vec.fit_transform(x).toarray()
x_test = vec.transform(x_test).toarray()

In [45]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x, y)

MultinomialNB()

In [46]:
model.score(x_test, y_test)

0.7636901825357671